.profileCard {
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-spacing) * 2);
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: var(--default-border-radius);
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.data {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--default-spacing) * 4);
    gap: calc(var(--default-spacing) * 2);
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.credentials {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 50vw;
}

.credential {
    border: 1px solid black;
    padding: 8px;

}
