@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/mint";

body {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);

    h1 {
        font: var(--font-xl);
    }
}

.app {
    min-height: 100vh;

    &__content {
        display: flex;
    }

    &__page-wrapper {
        flex-grow: 1;
        padding: calc(var(--default-spacing) * 4);
    }
}
