.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed; /* Добавляем позиционирование */
    top: 0; /* Помещаем навбар вверху страницы */
    left: 0; /* Выравниваем навбар по левому краю */
    white-space: nowrap;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.navbar img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a.active {
    background-color: #4CAF50;
}

.navbar a.separator {
    border-right: 1px solid #bbb;
}