.link {
    color: var(--primary-color);

    &:hover:not(&:active) {
        color: var(--inverted-primary-color);
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}
