.avatar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkWithIcon {
    color: var(--secondary-color);
    fill: var(--secondary-color);

    &:hover:not(&:active) {
        color: var(--inverted-secondary-color);
        fill: var(--inverted-secondary-color);
    }
}

.link {
    white-space: nowrap;
    transition: all 200ms ease-in-out;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;

        &:hover:not(&:active) {
            color: var(--inverted-secondary-color);
            fill: var(--inverted-secondary-color);
        }
    }
}
