.app_light_theme {
    --bg-color: #f0f0f0;
    --secondary-bg-color: #dadada;
    --inverted-bg-color: #2c2c00;
    --primary-color: #000;
    --secondary-color: #7d7d7d;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #828282;
    --accent-color: #0086e0;
    --overlay-color: rgba(0 0 0 / 60%);
}
