.app_mint_theme {
    --bg-color: #fff;
    --secondary-bg-color: #60ced8;
    --inverted-bg-color: #000;
    --primary-color: #003434;
    --secondary-color: #627a7b;
    --inverted-primary-color: #aaa;
    --inverted-secondary-color: #0f0f0f;
    --accent-color: #025104;
    --overlay-color: rgba(255 255 255 / 80%);
}
